# Workflow Ignores
/demo/
/old_src/
TODO.md
AGENTS.md
CLAUDE.md

# Test Models
/tests/models/

# Build directories
build/
bin/
build_release/
install/
out/

# Editor & IDE specific files + Linter stuff
.vscode/
compile_commands.json
/.cache


# Compiled objects and libraries
*.o
*.os
*.obj
*.lo
*.slo
*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll
*.dblite
.sconsign.dblite

# Executables
*.exe
*.out
*.app

# Intermediate and language-specific files
*.d
*.gch
*.pch
*.mod
*.smod
