[submodule "third-party/godot-cpp"]
	path = third-party/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.4
[submodule "third-party/llama.cpp"]
	path = third-party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = master
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
